<!-- Navbar -->

@if(!isTokenAvailable()) {
<nav class="flex -[64px] items-center justify-between px-10 py-2 mb-6 bg-[#FBFBFB] shadow-md">
    <!-- Logo (Left) -->
    <div class="logo cursor-pointer" (click)="navigateToHome()">
        <img src="/images/readercircle-logo.png" alt="ReaderCircle logo" class="max-w-full w-[120px]" />
    </div>

    <!-- search input -->
    <div class="relative bg-[#F2F2F2] rounded-[8px] flex items-center">
        <img src="/icons/search-icon.png" alt="search icon" class="px-4 py-3" />

        <input type="text" name="search" [(ngModel)]="searchInput" (keyup.enter)="searchBook()"
            placeholder="Need help finding book ?"
            class="bg-transparent py-2.5 px-4 md:w-[400px] lg:w-[749px] text-[#000] focus:outline-none text-[12px]" />

        <!-- Clear Icon (X) -->
        <button *ngIf="searchInput" (click)="clearSearch()"
            class="absolute right-4 text-gray-500 hover:text-gray-700 text-sm focus:outline-none cursor-pointer">
            ✕
        </button>
    </div>

    <div class="flex items-center gap-2">
        <!-- sign in Button -->
        <button type="button"
            class="bg-[#875C1A] text-[#FFFFFF] px-4 py-2 rounded-[4px] text-center hover:text-white cursor-pointer"
            (click)="openLoginPage()">
            Sign in
        </button>
        <!-- sign up button -->
        <button type="button"
            class="bg-[#875C1A] text-[#FFFFFF] px-4 py-2 rounded-[4px] text-center hover:text-white cursor-pointer"
            (click)="openSignUpPage()">
            Sign up
        </button>
    </div>
</nav>
} @else {
<nav class="flex -[64px] items-center justify-between px-10 py-2 bg-[#FBFBFB] mb-6 shadow-md">
    <!-- Logo (Left) -->
    <div class="logo cursor-pointer" (click)="navigateToHome()">
        <img src="/images/readercircle-logo.png" alt="goodreads logo" class="max-w-full w-[120px]" />
    </div>

    <!-- navlinks -->
    <ul class="flex space-x-6 text-[16px] font-medium text-gray-700">
        <li>
            <a routerLink="/home" routerLinkActive="text-[#875C1A] underline underline-offset-4 font-semibold"
                class="hover:text-[#875C1A] hover:underline underline-offset-4 transition"
                [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li>
            <a routerLink="/book-listing" routerLinkActive="text-[#875C1A] underline underline-offset-4 font-semibold"
                class="hover:text-[#875C1A] hover:underline underline-offset-4 transition">Explore</a>
        </li>
        <li>
            <a routerLink="/bookshelf" routerLinkActive="text-[#875C1A] underline underline-offset-4 font-semibold"
                class="hover:text-[#875C1A] hover:underline underline-offset-4 transition">My Bookshelf</a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="text-[#875C1A] underline underline-offset-4 font-semibold"
                class="hover:text-[#875C1A] hover:underline underline-offset-4 transition">Profile</a>
        </li>
    </ul>

    <!-- search input -->
    <div class="relative bg-[#F2F2F2] rounded-[8px] flex items-center">
        <img src="/icons/search-icon.png" alt="search icon" class="px-4 py-3" />

        <input type="text" name="search" [(ngModel)]="searchInput" (keyup.enter)="searchBook()"
            placeholder="Need help finding book ?"
            class="bg-transparent py-2.5 px-4 w-[400px] text-[#000] focus:outline-none text-[12px]" />

        <!-- Clear Icon (X) -->
        <button *ngIf="searchInput" (click)="clearSearch()"
            class="absolute right-4 text-gray-500 hover:text-gray-700 text-sm focus:outline-none cursor-pointer">
            ✕
        </button>
    </div>

    <!-- profile icon -->
    <div class="relative" (click)="toggleDropdown()">
        <!-- Profile Icon Button -->
        <button class="flex items-center space-x-2 focus:outline-none cursor-pointer">
            <img src="/icons/single-user-icon.png" alt="Profile" class="w-8 h-8 rounded-full border border-gray-300" />
        </button>

        <!-- Dropdown -->
        <div *ngIf="showDropdown"
            class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-md py-2 z-50 border border-gray-200">
            <a routerLink="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#875C1A] hover:text-white">
                Profile
            </a>
            <button (click)="logout()"
                class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-[#875C1A] hover:text-white">
                Logout
            </button>
        </div>
    </div>

</nav>
}