################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net8.0
/API/obj/Debug/net8.0/EndpointInfo
/API/obj/Debug/net8.0/ref
/API/obj/Debug/net8.0/staticwebassets
/API/obj/Debug/net8.0/refint
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.props
/API/obj/project.assets.json
/API/obj/API.csproj.nuget.g.targets
/API/obj/project.nuget.cache
*.config
/API/.vs/API/FileContentIndex
/API/obj/Debug/net8.0
/API/.vs/API/DesignTimeBuild/.dtbcache.v2
/API/.vs/API/v17/.suo
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/.vs/ProjectEvaluation/api.strings.v9.bin
/API/.vs/ProjectEvaluation/api.metadata.v9.bin
/API/.vs/ProjectEvaluation/api.projects.v9.bin
/API/.vs/API/v17/.futdcache.v2
