<div class="bg-[#f4f2e9] flex items-center py-6 px-[10%] h-[260px]">
    <div class="flex flex-1 gap-[20%]">
        <div>
            <h3 class="uppercase mb-2 text-[#553B08] font-bold tracking-wide">Company</h3>
            <ul>
                <li>About Us</li>
                <li>Terms</li>
                <li>Privacy</li>
                <li>Help</li>
            </ul>
        </div>
        <div>
            <h3 class="uppercase mb-2 text-[#553B08] font-bold tracking-wide">Connect</h3>
            <div class="flex items-center gap-1.5">
                <img src="/icons/facebook-icon.png" alt="facebook icon" class="block w-[40px]" />
                <img src="/icons/instagram-icon.png" alt="instagram icon" class="block w-[40px]" />
                <img src="/icons/linkedin-icon.png" alt="linkedin icon" class="block w-[40px]" />
            </div>
        </div>
    </div>
    <div>
        <div class="flex items-center gap-2 mb-3">
            <div>
                <img src="/images/ios-desktop.svg" alt="ios badge" class="max-w-full w-[120px]" />
            </div>
            <div>
                <img src="/images/android-badge.png" alt="android badge" class="max-w-full w-[120px]" />
            </div>
        </div>
        <p>&copy; 2023 Goodreads, Inc. All rights reserved.</p>
    </div>
</div>