<div class="bg-[#FFF2DE] flex items-start py-6 px-[10%] h-[260px]">
  <div class="logo">
    <img
      src="/images/logo.png"
      alt="goodreads logo"
      class="max-w-full w-[120px]"
    />
  </div>
  <div class="flex flex-1 justify-evenly gap-[20%]">
    <div>
      <h3 class="uppercase mb-2 text-[#553B08] font-bold tracking-wide">
        Company
      </h3>
      <ul>
        <li>About Us</li>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Help</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="flex items-center gap-2 mb-3">
      <div>
        <h3 class="uppercase mb-2 text-[#553B08] font-bold tracking-wide">
          Connect
        </h3>
        <div class="flex items-center gap-1.5">
          <img
            src="/icons/facebook-icon.png"
            alt="facebook icon"
            class="block w-[40px]"
          />
          <img
            src="/icons/instagram-icon.png"
            alt="instagram icon"
            class="block w-[40px]"
          />
          <img
            src="/icons/linkedin-icon.png"
            alt="linkedin icon"
            class="block w-[40px]"
          />
        </div>
      </div>
    </div>
    <p>
      Goodreads clone. <br />
      Created by Varsha Pathak
    </p>
  </div>
</div>
