<div>
  <h1 class="text-[#553B08] font-bold text-xl mb-8">Dashboard</h1>
  <!-- dashboard cards -->
  <div class="flex gap-4 mb-14">
    <div
      class="bg-[#E8E0C6] p-8 rounded-md flex flex-col w-[20%] gap-2 text-[#553B08]"
    >
      <div class="flex gap-3 items-center justify-center">
        <img
          src="/icons/single-user-icon.png"
          alt="single user icon"
          class="w-[25px] h-[25px]"
        />
        <p class="text-[18px]">Total User</p>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bold">250</p>
      </div>
    </div>
    <div
      class="bg-[#E8E0C6] p-8 rounded-md flex flex-col w-[20%] gap-2 text-[#553B08]"
    >
      <div class="flex gap-3 items-center justify-center">
        <img
          src="/icons/single-user-icon.png"
          alt="single user icon"
          class="w-[25px] h-[25px]"
        />
        <p class="text-[18px]">New Users</p>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bold">3</p>
      </div>
    </div>
    <div
      class="bg-[#E8E0C6] p-8 rounded-md flex flex-col w-[20%] gap-2 text-[#553B08]"
    >
      <div class="flex gap-3 items-center justify-center">
        <img
          src="/icons/book-card-icon.png"
          alt="single user icon"
          class="w-[25px] h-[25px]"
        />
        <p class="text-[18px]">Total Books</p>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bold">50</p>
      </div>
    </div>
    <div
      class="bg-[#E8E0C6] p-8 rounded-md flex flex-col w-[20%] gap-2 text-[#553B08]"
    >
      <div class="flex gap-3 items-center justify-center">
        <img
          src="/icons/author-card-icon.png"
          alt="single user icon"
          class="w-[25px] h-[25px]"
        />
        <p class="text-[18px]">Total Authors</p>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bold">20</p>
      </div>
    </div>
    <div
      class="bg-[#E8E0C6] p-8 rounded-md flex flex-col w-[20%] gap-2 text-[#553B08]"
    >
      <div class="flex gap-3 items-center justify-center">
        <img
          src="/icons/categories-card-icon.png"
          alt="single user icon"
          class="w-[25px] h-[25px]"
        />
        <p class="text-[18px]">Total Categories</p>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bold">10</p>
      </div>
    </div>
  </div>

</div>
