<div class="bg-[#FFFFFF] h-[100vh]">
  <div class="flex items-center h-full">
    <!-- login form div -->
    <div
      class="bg-[#FFFFFF] w-full flex items-center justify-center flex-1 py-10 px-15"
    >
      <div class="w-[404px] flex flex-col gap-[30px]">
        <div class="flex items-center gap-2 cursor-pointer" (click)="navigateToHome()">
          <img src="/icons/left-arrow-black.png" alt="left icon" class="w-4 h-4">
          <p class="text-[12px] hover:underline hover:text-[#875C1A]">Back to home</p>
        </div>
        <div class="mb-4">
          <h1 class="text-3xl font-bold text-[#000000] mb-2">
            Get Started Now
          </h1>
        </div>
        <div>
          <form
            [formGroup]="signupForm"
            class="flex flex-col gap-[20px]"
            (submit)="onSubmit()"
          >
            <div class="flex items-center gap-5">
              <!-- first name input -->
              <div class="flex flex-col gap-1 w-full">
                <label for="firstName" class="text-[14px] mb-1"
                  >First Name</label
                >
                <input
                  type="text"
                  name="firstName"
                  id="firstName"
                  placeholder="Enter your first name"
                  formControlName="firstName"
                  class="bg-transparent rounded-[4px] py-2.5 px-4 w-full text-[#000] focus:outline-none text-[12px] border border-[#D9D9D9]"
                />
                <div
                  *ngIf="
                    isSubmitted &&
                    (f['firstName'].touched || f['firstName'].invalid)
                  "
                  class="text-red-600 text-[12px]"
                >
                  <div
                    *ngIf="
                      f['firstName'].errors && f['firstName'].errors['required']
                    "
                  >
                    First Name is required.
                  </div>
                </div>
              </div>
              <!-- last name input -->
              <div class="flex flex-col gap-1 w-full">
                <label for="lastName" class="text-[14px] mb-1">Last Name</label>
                <input
                  type="text"
                  name="lastName"
                  id="lastName"
                  placeholder="Enter your last name"
                  formControlName="lastName"
                  class="bg-transparent rounded-[4px] py-2.5 px-4 w-full text-[#000] focus:outline-none text-[12px] border border-[#D9D9D9]"
                />
                <div
                  *ngIf="
                    isSubmitted &&
                    (f['lastName'].touched || f['lastName'].invalid)
                  "
                  class="text-red-600 text-[12px]"
                >
                  <div
                    *ngIf="
                      f['lastName'].errors && f['lastName'].errors['required']
                    "
                  >
                    Last Name is required.
                  </div>
                </div>
              </div>
            </div>

            <!-- email input -->
            <div class="flex flex-col gap-1">
              <label for="email" class="text-[14px] mb-1">Email Address</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
                formControlName="email"
                class="bg-transparent rounded-[4px] py-2.5 px-4 w-full text-[#000] focus:outline-none text-[14px] border border-[#D9D9D9]"
              />
              <div
                *ngIf="
                  isSubmitted && (f['email'].touched || f['email'].invalid)
                "
                class="text-red-600 text-[12px]"
              >
                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                  Email is required.
                </div>
              </div>
            </div>

            <!-- password input -->
            <div class="flex flex-col gap-1">
              <label for="password" class="text-[14px] mb-1">Password</label>

              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter your password"
                formControlName="password"
                class="bg-transparent rounded-[4px] py-2.5 px-4 w-full text-[#000] focus:outline-none text-[14px] border border-[#D9D9D9]"
              />
              <div
                *ngIf="
                  isSubmitted &&
                  (f['password'].touched || f['password'].invalid)
                "
                class="text-red-600 text-[12px]"
              >
                <div
                  *ngIf="
                    f['password'].errors && f['password'].errors['required']
                  "
                >
                  Password is required.
                </div>
              </div>
            </div>

            <!-- signup button -->
            <div class="flex items-center mt-3">
              <button
                type="submit"
                class="bg-[#875C1A] w-full p-2.5 rounded-md text-[#FFF7E7] cursor-pointer focus:outline-none focus:border-none"
              >
                Sign up
              </button>
            </div>
          </form>
        </div>
        <div class="flex items-center justify-center gap-2">
          <p class="text-[14px] font-medium">Have an account</p>
          <a href="/login" class="text-[#0F3DDE] text-[14px] font-medium"
            >Sign in</a
          >
        </div>
      </div>
    </div>

    <!-- image div -->
    <div
      class="bg-[#F3D2A1] w-full h-full flex items-center justify-center flex-1 py-10 px-15 rounded-s-2xl"
    >
      <div class="w-full flex items-center justify-center">
        <img src="/images/login-bookshelf.png" alt="login-bookshelf" />
      </div>
    </div>
  </div>
</div>
