<div
  class="flex items-center justify-start bg-blue-300 h-[550px] background-img"
>
  <div class="flex flex-col items-start justify-center pl-[10rem]">
    <div class="flex gap-4 mb-[40px] flex-col">
      <h1 class="text-[35px] font-bold text-[#553B08]">
        Deciding what to read next?
      </h1>
      <p class="text-[18px] text-[#553B08] w-[40%]">
        You’re in the right place. Tell us what titles or genres you’ve enjoyed
        in the past, and we’ll give you surprisingly insightful recommendations.
      </p>
    </div>
    <div class="flex-grow flex justify-center">
      <div class="flex items-center bg-[#FFF7E7] rounded-md">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Title / Author / ISBN"
          class="bg-[#FFF7E7] rounded-s-sm py-2 px-4 w-[500px] text-[#553B08] focus:outline-[#553B08] text-[14px] outline-2 outline-[#553B0850]"
        />
        <button
          type="button"
          class="bg-[#553B08] text-[#E8E0C6] rounded-e-sm px-4 py-2 hover:text-white cursor-pointer"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<!-- populars  -->
<div class="flex items-center justify-center">
  <div class="w-[85%] h-full px-8 py-[90px] flex justify-between items-center gap-8">
    <!-- Popular Books (60%) -->
    <div class="w-[65%]">
      <h2 class="text-xl text-[#553B08] font-bold mb-[50px]">
        Most Popular Now
      </h2>
      <div class="flex gap-10">
        <div class="flex gap-8 items-center bg-[#f4f2e9] p-5 flex-1">
          <div>
            <img
              src="/books-img/funny-story-cover.jpg"
              alt="book image"
              class="w-[100px] h-[130px] rounded-md"
            />
          </div>
          <div class="flex flex-col gap-0.5">
            <small class="block uppercase text-[#d35b38] text-semibold">best seller</small>
            <p class="text-[20px] font-semibold text-[#553B08]">Funny Story</p>
            <small class="text-[#d35b38] text-semibold">by Emily Henry</small>
          </div>
        </div>
        
        <div class="flex gap-8 items-center bg-[#f4f2e9] p-5 flex-1">
          <div>
            <img
              src="/books-img/funny-story-cover.jpg"
              alt="book image"
              class="w-[100px] h-[130px] rounded-md"
            />
          </div>
          <div class="flex flex-col gap-0.5">
            <small class="block uppercase text-[#d35b38] text-semibold">best seller</small>
            <p class="text-[20px] font-semibold text-[#553B08]">Funny Story</p>
            <small class="text-[#d35b38] text-semibold">by Emily Henry</small>
          </div>
        </div>
      </div>
    </div>
    <!-- Popular Authors (Auto width) -->
    <div class="flex-1">
      <h2 class="text-xl text-[#553B08] font-bold mb-[50px]">
        Popular Authors
      </h2>
      <div class="flex flex-col gap-4 items-center bg-[#f4f2e9] p-5">
        <div class="flex gap-8 items-center border-b border-b-[#553B0850] py-2">
          <div>
            <img
              src="/images/avatar.jpg"
              alt="author image avatar"
              class="w-[50px] h-[50px] rounded-full"
            />
          </div>
          <div>
            <p>Emily Henry</p>
            <small>2563 reads this week</small>
          </div>
          <div>
            <a href="" class="bg-[#d35b38] py-2 px-3 rounded-sm text-white"
              >Follow</a
            >
          </div>
        </div>
        <div class="flex gap-8 items-center border-b border-b-[#553B0850] py-2">
          <div>
            <img
              src="/images/avatar.jpg"
              alt="author image avatar"
              class="w-[50px] h-[50px] rounded-full"
            />
          </div>
          <div>
            <p>Emily Henry</p>
            <small>2563 reads this week</small>
          </div>
          <div>
            <a href="" class="bg-[#d35b38] py-2 px-3 rounded-sm text-white"
              >Follow</a
            >
          </div>
        </div>
        <div class="flex gap-8 items-center border-b border-b-[#553B0850] py-2">
          <div>
            <img
              src="/images/avatar.jpg"
              alt="author image avatar"
              class="w-[50px] h-[50px] rounded-full"
            />
          </div>
          <div>
            <p>Emily Henry</p>
            <small>2563 reads this week</small>
          </div>
          <div>
            <a href="" class="bg-[#d35b38] py-2 px-3 rounded-sm text-white"
              >Follow</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- genre container -->
<div class="bg-[#f4f2e9] flex items-center justify-center">
  <div class="w-[85%] h-full px-8 py-[90px]">
    <div class="mb-[50px] flex items-center justify-between">
      <h2 class="text-xl text-[#553B08] font-bold">Genre</h2>
      <a href="" class="bg-[#d35b38] py-2 px-3 rounded-sm text-white"
        >Show all</a
      >
    </div>
    <div class="flex items-center gap-10">
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Fantasy</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Fiction</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Horror</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Psychology</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Romance</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Science Fiction</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Thriller</p>
      </div>
      <div
        class="h-[180px] w-[130px] bg-red-500 flex items-center justify-center"
      >
        <p>Self-Help</p>
      </div>
    </div>
  </div>
</div>
