<div>
  <h1 class="text-[#553B08] font-bold text-xl mb-8">Users</h1>
  <div class="flex items-center justify-end mb-6">
    <div class="relative">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search users"
        [(ngModel)]="searchTerm"
        class="bg-[#FFF7E7] rounded-s-md py-2.5 px-4 w-[300px] text-[#553B08] focus:outline-[#553B08] text-[14px] outline-2 outline-[#553B0850]"
      />

      <button
        *ngIf="searchTerm"
        type="button"
        (click)="clearSearch()"
        class="absolute right-2 top-1/2 -translate-y-1/2 text-[#553B08] text-[25px] font-semibold hover:text-red-500 focus:outline-none"
      >
        &times;
      </button>
    </div>
    <div>
      <button
        type="button"
        class="bg-[#553B08] text-[#E8E0C6] px-4 py-2.5 rounded-e-md hover:text-white cursor-pointer"
        (click)="searchUsers()"
      >
        Search
      </button>
    </div>
  </div>

  <!-- data table -->
  <div class="bg-[#E8E0C6] rounded-md shadow-md">
    <ngx-datatable
      class="container striped border border-[#553B0850] rounded-md"
      [rows]="rows"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="30"
      rowHeight="auto"
      [count]="rows.length"
      [limit]="pageSize"
      [offset]="currentPage"
      (page)="onPageChange($event)"
    >
      <!-- Table Header Styling -->
      <ngx-datatable-column
        name="#"
        [flexGrow]="0.5"
        headerClass="bg-[#553B08] text-white text-center px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-row="row"
          ngx-datatable-cell-template
        >
          <span
            class="block py-2 px-4 border-b border-e border-[#553B0850] text-center"
            >{{ rowIndex + 1 }}</span
          >
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="User Name"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="block py-2 px-4 border-b border-e border-[#553B0850]">{{
            row?.userName | titlecase
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="First Name"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="block py-2 px-4 border-b border-e border-[#553B0850]">{{
            row?.firstName
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Last Name"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="block py-2 px-4 border-b border-e border-[#553B0850]">{{
            row?.lastName
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Email"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="block py-2 px-4 border-b border-e border-[#553B0850]">{{
            row?.email
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Phone Number"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="block py-2 px-4 border-b border-e border-[#553B0850]">{{
            row?.phoneNumber
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Is Active"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="block py-2 px-4 border-b border-e border-[#553B0850]">{{
            row?.isUserActive ? "Active" : "Inactive"
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Column: Actions -->
      <ngx-datatable-column
        name="Actions"
        [flexGrow]="2"
        headerClass="bg-[#553B08] text-white px-4 py-3 border-e border-[#E8E0C6]"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div
            class="flex items-center justify-center gap-2 py-[6.5px] border-b border-e border-[#553B0850]"
          >
            <button
              class="cursor-pointer text-[13px] bg-[#553B08] text-white px-4 py-1 rounded-sm"
              (click)="viewUser(row)"
            >
              View
            </button>
            <button
              class="cursor-pointer text-[13px] bg-[#553B08] text-white px-4 py-1 rounded-sm"
              (click)="blockUser(row)"
            >
              {{ row?.isUserActive ? "Block" : "Unblock" }}
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <!-- Pagination Controls -->
    <div class="flex justify-between items-center py-3 px-4">
      <button
        (click)="prevPage()"
        [disabled]="currentPage === 0"
        class="bg-transparent"
      >
        <img
          src="/icons/previous-icon.png"
          alt="previous icon"
          class="w-[22px] h-[22px]"
        />
      </button>
      <span class="text-[14px] text-[#553B08] font-semibold">
        Page {{ currentPage + 1 }} of {{ totalPages }}
      </span>
      <button
        (click)="nextPage()"
        [disabled]="(currentPage + 1) * pageSize >= rows.length"
        class="bg-transparent"
      >
        <img
          src="/icons/next-icon.png"
          alt="next icon"
          class="w-[22px] h-[22px]"
        />
      </button>
    </div>
  </div>
</div>

<!-- view modals -->

<div
  *ngIf="isViewUserModalOpen"
  class="fixed inset-0 bg-[#e8e0c67d] flex justify-center items-center p-[30px]"
>
  <div class="bg-white w-[50%] relative p-[30px] rounded-md">
    <div class="flex items-center justify-between mb-6">
      <div class="flex items-center gap-6">
        <img
          src="/icons/single-user-icon-black.png"
          alt="single user icon"
          class="block w-[35px]"
        />
        <h2 class="text-xl text-[#10182F] font-bold">User Details</h2>
      </div>
      <button
        (click)="closeViewUserModal()"
        class="text-[#10182F] text-[25px] font-semibold cursor-pointer"
      >
        &times;
      </button>
    </div>

    <div class="flex flex-col gap-4">
      <p><strong>User Name:</strong> {{ selectedUser?.userName }}</p>
      <p><strong>First Name:</strong> {{ selectedUser?.firstName }}</p>
      <p><strong>Last Name:</strong> {{ selectedUser?.lastName }}</p>
      <p><strong>Email:</strong> {{ selectedUser?.email }}</p>
      <p><strong>Phone Number:</strong> {{ selectedUser?.phoneNumber }}</p>
      <p><strong>Status:</strong> {{ selectedUser?.isUserActive ? "Active" : "Inactive" }}</p>
    </div> 
  </div>
</div>
